@media screen and (max-width:767px) {
    :root {
        --base-font-size: 14px;
        --button-padding: 12px 25px;
        --button-font-size: 14px;
        --copyright-font-size: 12px;
    }
    h1 {
        font-size: 44px !important;
        line-height: 50px;
    }
    h2 {
        font-size: 30px !important;
        line-height: 36px;
    }
    h3 {
        font-size: 30px !important;
        line-height: 36px;
    }
    h4 {
        font-size: 24px !important;
        line-height: 30px;
    }
    h5 {
        font-size: 20px !important;
        line-height: 26px;
    }
    h6 {
        font-size: 16px !important;
        line-height: 22px;
    }
    .process-heading {
        width: 100%;
        padding-bottom: 10px;
    }
    .box-step {
        width: 100%;
    }
    .form-banner-design select.form-select {
        width: 100%;
    }
    .form-banner-design select.form-select {
        width: 100%;
        height: 45px;
        margin: 10px auto;
    }
    .whyus-image img {
        width: 100%;
        height: auto;
    }
    .testimonial-section .process-heading {
        width: 100%;
    }
    section.service-section .row{
        width: 100%;
    }
    .service-section .process-heading p {
        width: 100%;
    }
    .popularquestion-section img {
        width: 100%;
        height: auto;
    }
    .big-heading {
        font-size: 84px !important;
        word-break: break-word;
        display: none;
    }
    .process-design {
        padding: 50px 0px;
    }
    .blog-box-design img {
        width: 100%;
        height: auto;
    }
    .shop-section .shop-image img {
        width: 100%;
    }
    .why-us-section {
        padding: 50px 0 0;
    }
    .testimonial-section {
        padding: 50px 0 70px;
    }
    .pricing-section {
        padding: 50px 0;
    }
    .service-section {
        padding: 50px 0;
    }
    .shop-image {
        margin-bottom: 20px;
    }
    .shop-section {
        padding: 50px 0;
    }
    .popularquestion-section {
        padding: 50px 0;
    }
    .accordion-button {
        padding: 5px 30px !important;
    }
    .blog-section {
        padding: 50px 0;
    }
    .blog-box-design {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .blog-box-design h6 {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .still-question-section {
        padding: 20px 20px 0;
        text-align: center;
    }
    .coder-still-bing {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .still-question-section .row {
        flex-wrap: wrap-reverse;
    }
    .banner {
        min-height: 550px;
    }
    .banner-row-code {
        max-width: 100%;
        gap: 60px;
    }
    .site-header .header-btns {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
    .site-header .navigation {
        width: 100%;
    }
    .site-header .navigation .navbar-toggler {
        padding: 0;
        border: 0;
        outline: 0;
        box-shadow: 0 0 0 0 #fff !important;
    }
    .site-header .navigation .navbar .navbar-collapse {
        position: absolute;
        top: 60px;
        background: #fff;
        width: 100%;
    }
    .site-header .navigation .navbar .navbar-nav {
        gap: 0;
        margin: 0 !important;
    }
    .site-header .navigation .navbar .navbar-nav li a {
        padding: 10px;
    }
    header.site-header {
        padding: 10px 0;
    }

}


@media screen and (min-width:768px) and (max-width:1024px) {
    
}


@media screen and (min-width:1200px) and (max-width:1600px) {
    .site-header {
        padding: 20px 2%;
    }
    .site-header .navigation .navbar .navbar-nav {
        gap: 25px;
    }
    .site-header .navigation .navbar .navbar-brand img {
        width: 220px;
        height: 45px;
    }
    .site-btn {
        padding: 10px 20px;
        font-size: 14px;
    }
}